<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Movies API</title>
  </head>
  <body>
    <h1>Movies List</h1>
    <div id="container"></div>
    <script src="~/source/app.js"></script>
  </body>
</html>